@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

<<<<<<< HEAD

=======
body{
  font-family: "Poppins", sans-serif;
}
>>>>>>> d9e9dbe8ea37c1f5cbf1ff6bdd74300e3a8e2e68

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
